# macOS
.DS_Store
__MACOSX

# Visual Studio
.vs

# vscode
.vscode

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Pp]ublish/
tools/
.nupkg/
Build/*/

# sublime
*.sublime-workspace

# packages
vendor/

test/
test_data/
test_data_debug/
test_data_release/

*.binlog
